[Unit]
Description=Nabaztag Air quality daemon
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/pi/pynab
EnvironmentFile=/home/pi/pynab/nabposologie/nabposologie.conf
ExecStart=/home/pi/pynab/venv/bin/python -m nabposologie.nabposologie
PIDFile=/run/nabposologie.pid

[Install]
WantedBy=multi-user.target
