[Unit]
Description=Nabaztag Air quality daemon
After=nabd.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/home/pi/pynab
EnvironmentFile=/home/pi/pynab/nabposologied/nabposologied.conf
ExecStart=/home/pi/pynab/venv/bin/python -m nabposologied.nabposologied
PIDFile=/run/nabposologied.pid

[Install]
WantedBy=multi-user.target
